[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adyen = "==4.*"
aniso8601 = "==7.*"
asgiref = "==3.*"
Authlib = "==1.*"
authorizenet = "==1.*"
azure-common = "==1.*"
azure-storage-blob = "==12.*"
azure-storage-common = "==2.*"
babel = ">=2.8,<2.15"
boto3 = "==1.*"
botocore = "==1.*"
braintree = ">=4.2,<4.27"
celery = {version = ">=4.4.5,<6.0.0", extras = ["redis"]}
cryptography = "==42.*"
dj-database-url = "==2.*"
dj-email-url = "==1.*"
django = {version = "==4.*", extras = ["bcrypt"]}
django-cache-url = "==3.*"
django-celery-beat = "==2.*"
django-countries = "==7.*"
django-filter = "==23.*"
django-measurement = "==3.*"
django-mptt = "==0.*"
django-phonenumber-field = ">=4,<8"
django-prices = "==2.*"
django-storages = {version = "==1.*", extras = ["google"]}
django-stubs-ext = "==4.*"
draftjs-sanitizer = "==1.*"
faker = ">=26.0.0,<27.0"
google-cloud-pubsub = ">=1.7,<3.0"
google-cloud-storage = "==2.*"
google-i18n-address = "==3.*"
graphene = "<3.0"
graphql-core = "==2.*"
graphql-relay = "==2.*"
gunicorn = "==22.*"
html2text = "==2024.*"
html-to-draftjs = "==1.*"
jaeger-client = "==4.*"
lxml = "==4.*"
markdown = "==3.*"
measurement = "==3.*"
micawber = "==0.*"
oauthlib = "==3.*"
opentracing = "==2.*"
petl = "==1.*"
phonenumberslite = "==8.*"
pillow = "==10.*"
pillow-avif-plugin = "==1.*"
posuto = "==2024.*"
prices = "==1.*"
promise = "==2.*"
pybars3 = "==0.*"
pyjwt = "==2.*"
python-dateutil = "==2.*"
python-http-client = "==3.*"
python-json-logger = ">=0.1.11,<2.1.0"
python-magic = {version = "==0.*", markers = "sys_platform != 'win32'"}
pytimeparse = "==1.*"
pytz = "==2024.*"
razorpay = "==1.*"
redis = "==5.*"
requests = "==2.*"
requests-hardened = "==1.0.0b4"
Rx = "==1.*"
semantic-version = "==2.*"
sendgrid = "==6.*"
sentry-sdk = "==2.*"
stripe = "==3.*"
text-unidecode = "==1.*"
urllib3 = "==1.*"
uvicorn = {extras = ["standard"], version = "==0.*"}
weasyprint = ">=53.0"
setuptools = "==70.*"
psycopg = {version = "==3.*", extras = ["binary"]}

[dev-packages]

[requires]
python_version = "3.10"
